body {
  font: 400 1em/1.5 "Neuton";
  background: #1d1d1d;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}

.sns-account {
  list-style: none;
  overflow: hidden;
  margin: 2em 0 0 auto;
}

.sns-account li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}

.sns-account li a::before {
  background-color: #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  width: 44px; /* Button width */
}

.sns-account li a:hover::before {
  color: #fff;
}

.sns-account li a[href*="twitter.com"]::before {
  content: "\f099";
}
.sns-account li a[href*="facebook.com"]::before {
  content: "\f09a";
}
.sns-account li a[href*="github.com"]::before {
  content: "\f09b";
}

.sns-account li a[href*="twitter.com"]:hover::before {
  background-color: #55acee;
}
.sns-account li a[href*="facebook.com"]:hover::before {
  background-color: #3b5998;
}
.sns-account li a[href*="github.com"]:hover::before {
  background-color: #0c0101;
}

main {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  text-align: center;
  display: inline-block;
  margin: 15% auto;
  font-family: "Impact";
  animation: anime1 2s ease;
  text-shadow: 0 0 10px rgb(132, 185, 33);
}

main span {
  font: 700 4em/1 "Impact";
  letter-spacing: 0;
  padding: 0.25em 0 0.33em;
  display: block;
  margin: 0 auto;
}

@keyframes anime1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ここから */
/* ここまで */

.aboutme {
  background-color: #eee;
  color: #000000;
  text-align: left;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 105%;
  padding-bottom: 45%;
}

.aboutme h1 {
  text-align: center;
  padding-top: 3%;
  font-family: "Impact";
}

.name {
  font-family: "HiraKakuProN-W3";
  font-size: 120%;
  text-align: center;
}

.name h2 {
  padding-top: 2%;
  padding-bottom: 0;
  margin: 0;
}

.name h3 {
  font-size: 100%;
  padding-top: 0;
}

@media screen and (min-width: 500px) {
  .career-myimage {
    font-family: "HiraKakuProN-W3";
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .career-myimage p {
    display: inline-block;
    text-align: left;
    padding-top: 10%;
    padding-bottom: 20%;
    width: 50%;
    height: 100%;
  }

  .career-myimage img {
    display: inline-block;
    width: 45%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 499px) {
  .career-myimage {
    font-family: "HiraKakuProN-W3";
    display: inline-block;
    position: relative;
    text-align: center;
    width: 95%;
  }
  .career-myimage p {
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    width: 90%;
  }

  .career-myimage img {
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    width: 90%;
  }
}
