body {
  font: 400 1em/1.5 "Neuton";
  background: #1d1d1d;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}

.sns-account {
  list-style: none;
  overflow: hidden;
  margin: 2em 0 0 auto;
}

.sns-account li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}

.sns-account li a::before {
  background-color: #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  width: 44px; /* Button width */
}

.sns-account li a:hover::before {
  color: #fff;
}

.sns-account li a[href*="twitter.com"]::before {
  content: "\f099";
}
.sns-account li a[href*="facebook.com"]::before {
  content: "\f09a";
}
.sns-account li a[href*="github.com"]::before {
  content: "\f09b";
}

.sns-account li a[href*="twitter.com"]:hover::before {
  background-color: #55acee;
}
.sns-account li a[href*="facebook.com"]:hover::before {
  background-color: #3b5998;
}
.sns-account li a[href*="github.com"]:hover::before {
  background-color: #0c0101;
}

main {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  text-align: center;
  display: inline-block;
  margin: 15% auto;
}

main span {
  font: 700 4em/1 "Oswald";
  letter-spacing: 0;
  padding: 0.25em 0 0.33em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}

.aboutme {
  background-color: #eee;
  color: #000000;
  text-align: left;
  position: absolute;
  width: 100%;
  top: 105%;
  padding-bottom: 45%;
}
